{% extends "base.html" %}
{% block title %} Poor Man's Twitter {% endblock %}

{% block content %}
<div id="app" class="container">

  <div class="tweet-text">
    <div class="header">Poor Man's Twitter</div>
    <input type="text" name="tweetTitle" id="tweetTitle" placeholder="what's on your mind?" maxlength="40">
    <textarea name="tweetBody" id="tweetBody" cols="10" rows="5" placeholder="More context ..."
      maxlength="50"></textarea>
    <button id="saveBtn" v-on:click="saveTweet">[[saveLabel]]</button>

  </div>

  <table v-html="tweetRecords">

  </table>
</div>
</div>

{% endblock %}

{% block scripts %}
<script>
  var app = new Vue({

    // curly braces conflict with django's templating system
    delimiters: ["[[", "]]"],
    el: '#app',
    data: function () {
      return {
        saveLabel: 'Save',
        tweets: [],
        tweetRecords: ''
      }
    },

    watch: {
      tweets: function (oldTweets, newTweets) {
        this.displayTweets();
      }
    },

    mounted: function () {
      this.fetchTweets()
        .then(response => {
          this.tweets = response.data;
        });
    },


    methods: {
      async saveTweet() {
        app.saveLabel = 'Saving...'
        let tweetName = document.getElementById('tweetTitle').value;
        let tweetBody = document.getElementById('tweetBody').value;

        let tweet = {
          title: tweetName,
          body: tweetBody
        };

        try {
          let res = await axios.post(APIURL, tweet);
          let tweetInfo = res.data;
          if (tweetInfo.hasOwnProperty('id')) {
            app.tweets.push(tweetInfo);
          } else {
            alert('failed to save tweet');
          }

        } finally {
          app.saveLabel = 'Save'

        }



      },

      fetchTweets: function () {
        return axios.get(APIURL);
      },

      displayTweets: function () {

        var tableHTML ='<tr><td>Name</td><td>Message</td><td>Created</td></tr>';

        app.tweets.forEach(item => {
          tableHTML += `<tr><td>${item.title}</td><td>${item.body}</td><td>${item.created}</td></tr>`
        });

        app.tweetRecords = tableHTML;
      }



    },

  });
</script>
{% endblock %}